/* FONT */
.inter-regular{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.inter-bold{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.inter-semibold{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

/* Explore Santa Cruz */

.santaCruzTextHolder{
    width: 10%;
    height: 12%;
    top: 41.5%;
    left: 44.5%;
    position: absolute;
}

.santaCruzText{
  font-size: 1.5vw;
  color: white;
/*   margin: -4px 0 0 0;
 */  height: 33%;
}

/* ================== */

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.app {
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
  width: 100%;
  height: 100%;
  max-width: 1113px;
  max-height: 626px;
}

.phase1itemsContainer{
  width: 100%; 
  aspect-ratio: 16/9;
  position: absolute; 
  top:0;
  left:0;
}

.app-inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.phase1-img{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.phase1-video{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.phase1-roadsign{
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.phase1-road8{
  top: 71.5%;
  left: 21%;
}

.phase1-road10{
  top: 41%;
  left: 76.5%;
}

.phase1-road84{
  top: 54%;
  left: 21.5%;
  height: 4%;
  width: 4%;
}

.phase1-road387{
  top: 41%;
  left: 65.7%;
  height: 4%;
  width: 4%;
}

.show-phase1-city{
  opacity: 1;
}

.show-phase1-roadsign{
  opacity: 1;
}

.show-phase1-icon{
  opacity: 1;
}

.show-phase1-video{
  opacity: 1;
}

.btnFactory{
  cursor: pointer;
  width: 12.4%;
  position: absolute;
  height: auto;
  left: 51%;
  top: 64.5%;
}

.btnPhase2Holder {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 47% 50%;
}

.btnImgPhase2{
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;

}

.btnPhase2{
  width: 11%;
  aspect-ratio: 1/2;
  position: absolute;
  left: 42%;
  top: 32%;
  cursor: pointer;
  pointer-events: all;
}


/******************************* Loading Screen **********************************/
.loadinglogo,
.loadingNotice {
  z-index: 1001;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}

.loadingNotice {
  height: 90%;
  color: #000;
}

.logo {
  margin: 10px auto;
  height: 80px;
  width: 80px;
  align-self: center;
}


@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  background: #fff;
  width: 51%;
  height: 100%;
  z-index: 1000;
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

.noticeBody {
  align-self: flex-end;
  margin: 0 auto;
  font-style: italic;
  text-align: center;
  padding: 0px 10px 15px 10px;
}

/* Loaded Styles */
.loaded #loader-wrapper .loader-section.section-left {
  transform: translateX(-100%);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 5.3s;
}

.loaded #loader-wrapper .loader-section.section-right {
  transform: translateX(100%);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 5.3s;
}

.loaded #loader {
  opacity: 0;
  transition: all 0.3s ease-out 1s;
}

.loaded #loader-wrapper {
  visibility: hidden;
  opacity: 0;
  /* transform: translateY(-100%); */
  transition: all 0.3s ease-out 1s;
  animation-iteration-count: infinite;
}

.loaded #loader-wrapper .loadingNotice {
  visibility: hidden;
  opacity: 0;
  /* transform: translateY(100%); */
  transition: all 0.3s ease-out 5s;
  animation-iteration-count: infinite;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 3px solid transparent;
  border-top-color: #53575a;
  border-radius: 100%;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

#loader:after {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  right: 12px;
  bottom: 12px;
  border: 3px solid transparent;
  border-top-color: #00a499;
  border-radius: 100%;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

#loader {
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 3px solid transparent;
  border-top-color: #c3d500;
  border-radius: 100%;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  z-index: 1001;
}

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}


/********************** POP UP ***************************************/
.popUp {
  min-width: 35%;
  max-width: 750px;
  background-color: rgb(255, 255, 255);
  padding: 10px;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center center;

  position: relative;

  border-radius: 5px;
  border-color: rgb(255, 0, 0);
  border-width: 1px;
  border-style: solid;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
}

.close {
  float: right;
  margin: 5px;
  text-decoration: none;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
}

.close:link {
  color: rgb(203, 0, 0);
} /* unvisited link */
.close:visited {
  color: rgb(194, 63, 63);
} /* visited link */

.hover_background {
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transform-origin: 0 0;

  height: 50%;

  position: fixed;
  text-align: center;
  z-index: 1002;
  display: none;
  transition: all 1s linear;
}

.popUpTitle{
  text-align: left;
}

.flexcontainer {
  width: 100%;
  max-height: 100%;
  /*   left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center center; */
  position: relative;
}

.vsplit {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.box {
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  color: #999999;
  text-align: left;
  margin: 10px;
}

.popUpVideo {
  background: pink;
  max-height: 100%;
  max-width: 100%;
  margin: auto;
  bottom: 0;
  left: 0;
  right: 0;
  position: relative;
}

.hsplit {
  display: flex;
  flex-direction: row;
  max-height: 50%;
}

.click-through{
  pointer-events: none; 
}

/************************** Animations *****************************************************/

.slide-fwd-center {
	-webkit-animation: slide-fwd-center 1s cubic-bezier(1,0,1,0) both;
	        animation: slide-fwd-center 1s cubic-bezier(1,0,1,0) both;
}

/*
 * ----------------------------------------
 * animation slide-fwd-center
 * ----------------------------------------
 */

 @-webkit-keyframes slide-fwd-center {
  0% {
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
  100% {
    -webkit-transform: scale(1800%);
            transform: scale(1800%);
  }
}
@keyframes slide-fwd-center {
  0% {
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
  100% {
    -webkit-transform: scale(1800%);
            transform: scale(1800%);
  }
}

.fade-out {
	-webkit-animation: fade-out 1s linear both;
	        animation: fade-out 1s linear both;
}

/*
 * ----------------------------------------
 * animation slide-fwd-center
 * ----------------------------------------
 */
 
 @-webkit-keyframes fade-out {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}
@keyframes fade-out {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}